doctype html
html(lang='en' data-app-id=(app.id) data-sentry-dsn=sentryDsn)
  base(href=`/${app.path}`)
  meta(charset='utf-8')
  meta(name='viewport', content='initial-scale=1,minimum-scale=1,width=device-width')
  meta(name='theme-color' content=(app.definition.theme && app.definition.theme.themeColor || '#ffffff'))
  link(rel='icon' sizes='16x16' href=`/${app.id}/icon-16.png`)
  link(rel='icon' sizes='32x32' href=`/${app.id}/icon-32.png`)
  link(rel='icon' sizes='96x96' href=`/${app.id}/icon-96.png`)
  link(rel='icon' sizes='128x128' href=`/${app.id}/icon-128.png`)
  link(rel='icon' sizes='192x192' href=`/${app.id}/icon-192.png`)
  link(rel='apple-touch-icon' sizes='76x76' href=`/${app.id}/icon-76.png?opaque`)
  link(rel='apple-touch-icon' sizes='120x120' href=`/${app.id}/icon-120.png?opaque`)
  link(rel='apple-touch-icon' sizes='152x152' href=`/${app.id}/icon-152.png?opaque`)
  link(rel='apple-touch-icon' sizes='144x144' href=`/${app.id}/icon-144.png?opaque`)
  link(rel='apple-touch-icon' sizes='152x152' href=`/${app.id}/icon-152.png?opaque`)
  link(rel='apple-touch-icon' sizes='167x167' href=`/${app.id}/icon-167.png?opaque`)
  link(rel='apple-touch-icon' sizes='180x180' href=`/${app.id}/icon-180.png?opaque`)
  //- This *must* be the bottom one.
  link(rel='apple-touch-icon' href=`/${app.id}/icon-57.png?opaque`)
  link(rel='manifest' href=`/${app.id}/manifest.json`)
  title #{app.definition.name}
  link(rel='stylesheet' href=bulmaURL)
  each stylesheet in assets.filter(name => name.endsWith('.css'))
    link(rel='stylesheet' href=`/${stylesheet}`)
  if app.style
    link(rel='stylesheet' href=`/api/apps/${app.id}/style/core` id='appsemble-editor-preview-style-core')
  if app.sharedStyle
    link(rel='stylesheet' href=`/api/apps/${app.id}/style/shared` id='appsemble-editor-preview-style-shared')
  div.is-fixed-top.is-primary.navbar
    header.navbar-brand
      h1.navbar-item.title #{app.definition.name}
  div#app
    noscript
      section.section
        p.container
          | JavaScript seems to be disabled.
          br
          | Please enable JavaScript in your browser settings.
  each script in assets.filter(name => name.endsWith('.js'))
    script(src=`/${script}`)
