html(lang='en')
  base(href=`/${app.id}`)
  meta(charset='utf-8')
  meta(name='viewport', content='initial-scale=1,minimum-scale=1,width=device-width')
  meta(name='theme-color' content=(app.theme && app.theme.themeColor || '#ffffff'))
  link(rel='shortcut icon' href=`/${app.id}/favicon.ico`)
  link(rel='manifest' href=`/${app.id}/manifest.json`)
  title #{app.name}
  each stylesheet in assets.filter(name => name.endsWith('.css'))
    link(rel='stylesheet' href=stylesheet)
  div#app
    noscript
      header.header
        h1.title #{app.name}
      p.message
        | JavaScript seems to be disabled.
        br
        | Please enable JavaScript in your browser settings.
  each script in assets.filter(name => name.endsWith('.js'))
    script(src=script)
